parameters:
    level: 9
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - ./src/
        - ./tests
    excludePaths:

    ignoreErrors:
        - message: '#Call to an undefined method Symfony\\Component\\Config\\Definition\\Builder\\NodeDefinition::children#'
          paths:
              - src/SurvosSeoBundle.php
